/* import */
@import url('_normalize.css');
@import url('_utility.css');

/* basic */
:root {
    --primary: #7A9D54;
    --primary-hover: #648443;
    --accent: #F2EE9D;
    --background: #2C3333;
    --base: #cddece;
    --text: #303030;
}

body {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
    background: var(--base);
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    padding: 1rem;
}

/* important */
#logo {
    width: 100%;
    max-width: calc(300px - 2rem);
    margin: 0 2rem 0 1rem;
}

#navigation {
    background: var(--background);
    display: flex;
    padding: 0 2rem;
    border-radius: 1rem;
}

#navigation>li {
    text-decoration: none;
    list-style: none;
    font-size: 1.25rem;
}

#navigation>li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
}

#navigation>li:hover a {
    color: var(--accent);
}

.banner {
    position: relative;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
}

.banner>img {
    width: 100%;
    max-height: 400px;

    filter: blur(1px);
    -webkit-filter: blur(1px);

    transition: all 300ms ease-in-out;
}

.banner:hover>img {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.banner .banner-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem 2rem 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 225ms ease-in-out;
}

.banner:hover .banner-center {
    transform: scale(1.1);
}

.banner .banner-center>h1 {
    font-size: 4rem;
    color: white;
    cursor: pointer;
    text-shadow: -1px 1px 0 var(--background),
        1px 1px 0 var(--background),
        1px -1px 0 var(--background),
        -1px -1px 0 var(--background);
}

.banner .banner-center>p {
    max-width: 80%;
    font-size: 1.25rem;
    color: white;
    text-shadow: -1px 1px 0 var(--background),
        1px 1px 0 var(--background),
        1px -1px 0 var(--background),
        -1px -1px 0 var(--background);
}

.card {
    flex: 1 1 auto;
    border-radius: 1rem;
    overflow: hidden;
    background: white;
    transition: box-shadow 300ms ease-in-out;
}

.card:hover {
    box-shadow: 2px 2px 20px var(--accent);
}

.card>.card-title {
    text-align: center;
}

.card>.card-img {
    width: 100%;
}

.card>.card-body {
    padding: 0 1rem 2rem;
}

#post-section .card {
    width: 33.33%;
}

footer {
    padding: 0 1rem;
}

.btn {
    background: var(--primary);
    border: 1px solid var(--primary);
    border-radius: .75rem;
    padding: .5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn:hover {
    background: var(--primary-hover);
    border: 1px solid var(--primary-hover);
}

.btn:active {
    background: var(--accent);
}

/* utility layout */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.self-end {
    align-self: self-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-3 {
    gap: 1rem;
}

/* animate */
@keyframes scale {
    from {
        transform: scale(0);
        visibility: visible;
    }

    to {
        transform: scale(1);
        visibility: visible;
    }
}

.card {
    visibility: hidden;
    animation: scale 500ms ease-in-out forwards;
}

/* media screen */

@media screen and (max-width: 768px) {
    .banner img {
        width: auto;
        height: 320px;
    }

    .banner .banner-center {
        padding: 2rem 1rem 1.5rem 1rem;
    }

    .banner .banner-center>h1 {
        font-size: 3rem;
    }

    .banner .banner-center>p {
        font-size: 1rem;
    }

    #post-section {
        flex-direction: column;
    }

    #post-section .card {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .banner img {
        width: auto;
        height: 240px;
    }

    .banner .banner-center {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .banner .banner-center>h1 {
        font-size: 2rem;
    }

    .banner .banner-center>p {
        font-size: .875rem;
    }
}